.heading{
    font-size: 23px;
    width: 100%;
    margin: 0%;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Hina Mincho', serif;
    font-weight: bolder;
}

.note{
    font-size: 18px;
    color: black;
    font-family: 'Hina Mincho', serif;
    font-weight: lighter;
}

.font_size{
    font-size: 18px;
    color: white;
    font-family: 'Hina Mincho', serif;
}

.copyright_footer{
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 0%;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-family: 'Hina Mincho', serif;
}

canvas{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(110, 110, 110);
    font-family: 'Hina Mincho', serif;
}